 * {
     margin: 0 ;
     padding: 0 ;
 }
 .item {
     width: 400px;
     height: 40px;
     display: block;
     position: relative;
 }
 input {
     width: 400px;
     height: 40px;
     border: 1px solid #dbdbdb;
     outline: none;
     text-indent: 10px;
     font-size: 16px;
     border-radius: 3px;
     background: none;
 }
 .line {
     content: "";
     display: inline-block;
     width: 0;
     height: 2px;
     background: red;
     position: absolute;
     left: 1px;
     bottom: 1px;
     transition: width 1s;
     margin-bottom: 0 !important;

 }
 input:focus+.line {
     width: 100%;
 }