button {
  background: none;
  border: none;
  border-radius: 3px;
  background: #2da4d9;
  color: #fff;
  font-size: 14px;
  padding: 12px 20px;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
}

button:active,
button:focus,
button:hover {
  background: #1d9cd6
}